<% content_for :title do %>My Title<% end %>
<% content_for :description do %>My Description<% end %>

<% if logged_in? %>
    <h3><%= link_to 'Create New List', new_list_path %></h3>

    <% current_user.lists.each do |list| %>
        <p><%= link_to list.name, list_path(list) %></p>
    <% end %>
<% else %>
    <%= link_to 'Sign Up', signup_path %> or <%= link_to 'Login', login_path %>
<% end %>