<% content_for :title do %>Lists<% end %>
<% content_for :description do %>My Description<% end %>

<% if logged_in? %>
    <h3><%= link_to 'Create New List', new_list_path %></h3>

    <% current_user.lists.each do |list| %>
        <p><%= link_to list.name, list_path(list) %></p>
    <% end %>
<% else %>
    <%= render 'layouts/closed_session' %>
<% end %>