<% content_for :title do %>Recipes<% end %>
<% content_for :description do %>My Description<% end %>

<h3><%= link_to 'Create New Recipe', new_recipe_path %></h3>
<img src="https://www.bing.com/th?id=OGC.3407ac126f4a0dbc6d2c57a261eedf06&pid=1.7&rurl=https%3a%2f%2fmedia1.tenor.com%2fimages%2f3407ac126f4a0dbc6d2c57a261eedf06%2ftenor.gif%3fitemid%3d11869791&ehk=%2fCyzEAtZ1WwNBTC4n55B9Q">

<% current_user.recipes.each do |recipe| %>

    <p><%= link_to recipe.name, recipe_path(recipe) %></p>

<% end %>