<% content_for :title do %>My Title<% end %>
<% content_for :description do %>My Description<% end %>

<img src="https://media.giphy.com/media/xT4uQyKtTSwg4h9zd6/giphy.gif">
<h3><%= link_to 'Sign up', signup_path %></h3>

<% @users.each do |user| %>
  <h3><%= user.name %></h3>
<% end %>

