<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% if @current_user %>
  <h1><%= @user.name%></h1>

  Here is my username:'<%= @user.username %>'

  <%= button_to "I wanna loggity log out", '/sessions', method: :delete %>
<% else %>
  YO. You aren't allowed to see <%= @user.username %>'s secret, brah!!!
<% end %>